*{
    margin: 0;
    padding: 0;

    
}
#container{
    /* border: 3px solid green; */
    height: 100vh;
    background: url(travel...jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(60%); */
}


#fsection{
    display: flex;
    padding: 10px;
    /* margin-top: 15px; */
    background-color: rgba(162, 43, 226, 0.081);
    
    justify-content: space-around;
    
}
span{
    margin: 0 7px;
    text-transform: uppercase;
    
}
#MAIN{
    text-align: center;
}
#main{
    
    background-color: rgba(0, 0, 0, 0.159);  
    color: black;
    border-radius: 4px;

    top: 50%;
    
    max-width: 900px;
    margin : 200px auto;
    text-align: center;
    

}

#main h1{
    font-size: 80px;
    font-weight: 400;
    margin: 20px;
    border-bottom: 4px solid black;
}

#main p{
    line-height: 25px;
    letter-spacing: 1.5px;
}

#main div{
    display: inline-block;
    padding: 6px;
    font-family: sans-serif;
    margin: 20px;
    background-color: rgba(220, 220, 220, 0.492);
    border-radius: 3px;
}

